@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" );


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    background-color: var(--primary-color);
}
:root {
    --primary-color: #2d3047;
    --secondary-color:#93b7be; 
    --accent1-color:#e0ca3c;
    --accent2-color: #a799b7 ;

    --heading-font: 'Roboto',serif;
    --paragraph-font: 'Open Sans',serif;

    --nav-background-color:#2d3047;
    --nav-link-color : #93b7be;
    --nav-hover-link-color: #e0ca3c;
    --nav-hover-background-color:#93b7be;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color :var(--primary-color);
    text-align: center;
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
    align-items: center;
}
header img {
    float: right;
    margin: 2px;
    width:100px ;
    height: auto;
    
    
}
p{
    padding: 25px;
}
h1 {
    text-align: center;
    top: 15px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    
}
nav a {
    display: block;
    color:var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a {
    display: flex;
    flex-direction: row;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color :var(--nav-hover-background-color)
}
.plan {
    background-color: var(--secondary-color);
}


.hero {
    background-image:url('../images/rafting31_600.jpg');
    background-size: cover;
    height: 300px;
    position: relative;
}
article p {
    background-color: rgba(118, 107, 218, 0.5);
    grid-auto-columns: 1fr 1fr 1fr 2fr;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.aventure {
    width: 100%;
    height: 100%;
}
section{
    background-color: var(--secondary-color);
}
.social img {
    width: 25px;
    height: auto;
}
.social{
    display:flex;
}
footer {
    background-color: var(--secondary-color);
    display:flex;
    flex-direction: row;
    align-items:end;
}
footer nav {
    align-items:center;
    margin-left: 20px;
    position: relative;
    margin-bottom:25px;
}